footer {
  .footer-top {
    background: $black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .sw {
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      transition: 0.2s ease;
      padding: rem-calc(50) rem-calc(0);

      @media screen and (max-width: $mobile1) {
        align-items: center;
        flex-direction: column;
        padding: rem-calc(50) rem-calc(0);
        height: auto;
      }
    }

    .logo {
      transition: 0.2s ease;
      height: rem-calc(40);
      margin-bottom: rem-calc(30);

      @media screen and (max-width: $mobile1) {
        height: rem-calc(50);
      }

      img {
        height: 100%;
      }
    }

    .contact {
      .phone,
      .email {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: $mobile1) {
          justify-content: center;
        }
        h3 {
          @include font(24, 28, 600);
          color: $white;

          @media screen and (max-width: $mobile1) {
          @include font(20, 24, 500);
        }
        }
        a {
          @include font(20, 24, 500);
          color: $white;
          margin: 0;
          padding-left: rem-calc(10);

          @media screen and (max-width: $mobile1) {
            @include font(16, 20, 500);
          text-decoration: underline;
        }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .menu {
      li {
        @media screen and (max-width: $mobile1) {
          text-align: center;
        }

        a {
          @include font(15, 15, 700);
          color: $grey;
          background: transparent;
          text-transform: uppercase;
          padding: rem-calc(15 20);
          transition: 0.2s ease;

          @include hover {
            color: $teal;
          }

          @media screen and (max-width: $mobile1) {
            padding: rem-calc(14 20);
          }
        }

        &.current-page {
          a {
            color: $black;
          }
        }
      }
    }
  }

  .footer-bottom {
    background: #111;
    display: flex;
    flex-direction: row;
    padding: rem-calc(20 0);

    .copyright {
      @include font(14, 14, 500);
      color: $white;
      margin: 0;

      @media screen and (max-width: $mobile1) {
        @include font(12, 12, 500);
        text-align: center;
      }
    }

    // ul {
    //   display: flex;
    //   position: relative;

    //   @media screen and (max-width: $mobile1) {
    //     flex-direction: column;
    //     text-align: center;
    //   }

    //   .footer-bottom__phone {
    //     margin-right: rem-calc(40);

    //     @media screen and (max-width: $mobile1) {
    //       margin-right: inherit;
    //     }
    //   }

    //   .footer-bottom__phone,
    //   .footer-bottom__email {
    //     a {
    //       color: $teal;
    //       font-weight: bold;
    //       font-family: $rfont;
    //       display: inline-flex;
    //       align-items: center;
    //       font-size: 16px;

    //       @media screen and (max-width: $mobile1) {
    //         margin-bottom: rem-calc(20);
    //       }

    //       @include hover {
    //         color: $blue-light;
    //       }

    //       img {
    //         margin-right: rem-calc(8);
    //       }
    //     }
    //   }

    //   .footer-bottom__copyright {
    //     position: absolute;
    //     right: 0;
    //     font-size: 16px;
    //     color: $white;

    //     @media screen and (max-width: $mobile1) {
    //       position: relative;
    //       padding-top: rem-calc(20);
    //       font-size: 14px;
    //     }
    //   }
    // }
  }
}
