$header-height: rem-calc(100);
$header-height-mobile: rem-calc(65);

#header-container {
  position: relative;
  z-index: 100;
  width: 100%;

  @media screen and (max-width: $mobile1) {
    position: relative;
    width: 100%;
  }
}

header {
  width: 100%;
  background: $black;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  &.is-stuck {
    box-shadow: 1px 1px 1px rgba($black, 0.05);
    border-bottom: 1px solid #ededed;
    transition: 0s;

    .sw {
      height: rem-calc(100);
      transition: 0.3s ease;
    }

    .logo {
      transform: scale(0.8);
      transition: 0.3s ease;
    }

    .header-menu li.navindicator {
      top: rem-calc(-18);
      transition: 0.3s ease;
    }
  }

  .sw {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;

    @media screen and (max-width: $mobile1) {
      height: $header-height-mobile;
      justify-content: flex-start;
    }
  }

  .logo {
    transition: 0.2s ease;
    height: rem-calc(50);

    @media screen and (max-width: $mobile1) {
      height: rem-calc(50);
    }

    img {
      height: 100%;
    }
  }

  .mobile-number {
    @include font(14, 14, 400);
    color: $secondary-color;
    margin-left: rem-calc(14);

    @media screen and (max-width: 340px) {
      display: none !important;
    }
  }

  .menu {
    li {
      a {
        @include font(15, 15, 700);
        color: $grey;
        background: transparent;
        text-transform: uppercase;
        padding: rem-calc(15 20);
        transition: color 0.2s ease;

        @include hover {
          color: $teal;
        }

        @media screen and (max-width: $mobile1) {
          padding: rem-calc(14 20);
        }
      }

      &.current-page {
        a {
          color: $black;
        }
      }
    }

    // Mobile Menu

    .is-drilldown-submenu-parent > a::after,
    .js-drilldown-back > a::before {
      @extend .fas;
    }

    @media screen and (max-width: $mobile1) {
      background: $primary-color;

      li {
        &:not(:nth-last-child(2)) {
          border-bottom: 1px solid lighten($primary-color, 10%);
        }

        a {
          color: $white !important;
          font-weight: 400;
        }

        ul {
          background: $secondary-color !important;

          li {
            &:not(:last-child) {
              border-bottom: 1px solid lighten($secondary-color, 10%);
            }
          }

          li:last-child {
            border: none;
          }
        }
      }

      .is-drilldown-submenu-parent {
        & > a {
          display: flex;
          align-items: flex-start;

          &::after {
            border: none;
            content: fa-content($fa-var-chevron-right);
            right: rem-calc(35);
            font-size: rem-calc(20);
          }
        }
      }

      .js-drilldown-back {
        a {
          display: flex;
          align-items: flex-start;

          &::before {
            border: none;
            content: fa-content($fa-var-chevron-left);
            margin-right: rem-calc(22);
            font-size: rem-calc(20);
          }
        }
      }
    }
  }

  .hamburger-icon {
    display: block;
    transition: 0.5s ease-in-out;
    position: absolute;
    cursor: pointer;
    right: 0;

    &:focus {
      outline: medium none;
    }

    .lines {
      float: right;
      margin-left: 8px;
      width: 32px;

      .line {
        background: $white none repeat scroll 0 0;
        height: 4px;
        margin-bottom: 5px;
        transition: 0.5s ease 0s;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &[aria-expanded="true"] {
      .line:nth-child(1) {
        margin-bottom: 1px;
        transform: rotate(45deg) translate(5px, 5px);
        background: $white;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        background: $white;
      }
    }
  }
}

// Off-Canvas for mobile
.off-canvas-main-menu {
  top: $header-height-mobile;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  transform: translateX(100%);
  box-shadow: none !important;
  background: rgba($grey-light, 0.9);
}

.js-off-canvas-overlay {
  background: rgba($black, 0);
}

/* Nav Indicator =========================================================== */

$naviopacity: 0.7;
$navi1-left: rem-calc(17);
$navi1-width: rem-calc(51);
$navi2-left: rem-calc(99);
$navi2-width: rem-calc(112);
$navi3-left: rem-calc(240);
$navi3-width: rem-calc(49);
$navi4-left: rem-calc(319);
$navi4-width: rem-calc(78);

.header-menu li.current-page:nth-child(1) ~ li.navindicator,
.header-menu .menu li:nth-child(1):hover ~ li.navindicator {
  left: $navi1-left;
  width: $navi1-width;
  opacity: $naviopacity;
}

.header-menu li.current-page:nth-child(2) ~ li.navindicator,
.header-menu .menu li:nth-child(2):hover ~ li.navindicator {
  left: $navi2-left;
  width: $navi2-width;
  opacity: $naviopacity;
}

.header-menu li.current-page:nth-child(3) ~ li.navindicator,
.header-menu .menu li:nth-child(3):hover ~ li.navindicator {
  left: $navi3-left;
  width: $navi3-width;
  opacity: $naviopacity;
}

.header-menu li.current-page:nth-child(4) ~ li.navindicator,
.header-menu .menu li:nth-child(4):hover ~ li.navindicator {
  left: $navi4-left;
  width: $navi4-width;
  opacity: $naviopacity;
}

.header-menu li.navindicator {
  display: block;
  width: 100%;
  height: 4px;
  top: rem-calc(-39);
  padding: 0;
  background: $teal;
  z-index: 1;
  opacity: 0;
  left: 50%;
  transition: 0.2s ease;
  position: absolute;
}

#sitewrap {
  //padding-top: $header-height;

  @media screen and (max-width: $mobile1) {
    padding-top: 0;
  }
}
