// Default Colors
$primary-color: #000000;
$secondary-color: #1DC4AE;
$text-color: #000000;

// Colors
$black: #000;
$white: #fff;
$blue: #00BEEB;
$teal: #00ACBC;
$red: #d84827;
$yellow: #ffa617;
$grey-dark: #767676;
$grey: #909090;
$grey-light: #c9c9c9;
$grey-lighter: #F0F0F0;



// Typography
$hfont: 'Metropolis';
$rfont: 'Montseratt';

// Breakpoints

$sm: '600px';
$md: '900px';
$lg: '1200px';
$xl: '1440px';
