// Default Colors
$primary-color: #000000;
$secondary-color: #1DC4AE;
$text-color: #000000;

// Colors
$black: #000;
$white: #fff;
$blue: #00BEEB;
$teal: #00ACBC;
$red: rgb(187, 0, 0);
$grey-dark: #767676;
$grey: #A0A0A0;
$grey-light: #c9c9c9;
$grey-lighter: #F0F0F0;



// Typography
$hfont: 'Raleway', sans-serif;
$rfont: 'Open Sans', sans-serif;

// Breakpoints
$desktop-1920: 122.5em; // 1960px
$desktop-1680: 118.125em; // 1890px
$desktop-1366: 103.125em; // 1650px
$desktop-1024: 83.5em; // 1336px
$mobile1: 63.99875em; // 1024px
$mobile2: 39.99875em; // 640px
